.cat-card {
  display: grid;
  place-items: center;

  &__img {
    max-width: 15rem;
    margin-inline: auto;
    margin-bottom: 1.9rem;
    transition: all 0.2s ease-in;

    @include respondMax(1199px) {
      max-width: 12rem;
    }
    @include respondMax(567px) {
      max-width: 10rem;
    }
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    @include respondMax(1199px) {
      font-size: 1.6rem;
    }
    @include respondMax(567px) {
      font-size: 1.4rem;
    }
  }

  &:hover img {
    transform: scale(1.05);
  }
}
