.qtable {
  border-radius: 1.2rem;
  // border: 1px solid red;

  table {
    margin-bottom: 0;
    background-color: $clr-white;
  }
  thead {
    background: $primary-gradient;
    color: $clr-white;
    font-size: 18px;
    white-space: nowrap;

    @include respondMax(1366px) {
      font-size: 13px;
    }

    @include respondMax(767px) {
      font-size: 14px;
    }
    th {
      padding: 2rem 16px;
    }
  }
  tr {
    text-align: center;
    vertical-align: middle;
    &:last-of-type {
      td {
        border-color: transparent;
      }
    }
    td {
      @include respondMax(991px) {
        &:not(:last-of-type) {
          padding-right: 1rem;
        }
      }
    }
  }
  tbody {
    font-size: 16px;

    @include respondMax(1366px) {
      font-size: 13px;
    }
    @include respondMax(767px) {
      font-size: 12px;
    }
    tr {
      td:nth-of-type(5) {
        font-weight: 700;
      }
    }
  }
  .qbtn-container {
    gap: 4px;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: row;

    & > * {
      flex: auto;
    }

    .qbtn {
      white-space: nowrap;
      &--add,
      &--orange {
        width: 82px;
        height: 42px;
      }
    }
  }
  .qbtn {
    font-size: 12px;
    padding: 1.2rem 6px;
  }
  .product-img-list {
    display: flex;
    align-items: center;

    img {
      width: 4.8rem;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
      &:not(:first-of-type) {
        margin-left: -2rem;
      }
    }

    &__extra {
      background-color: $clr-primary;
      color: $clr-white;
      width: 4.8rem;
      aspect-ratio: 1/1;
      @include flexCenter;
      border-radius: 50%;
      margin-left: -2rem;
    }
  }
  a:hover {
    color: $clr-primary;
    text-decoration: underline;
  }
  a.qbtn:hover {
    color: $clr-white;
    text-decoration: none;
  }

  &--sm {
    thead {
      white-space: break-spaces;
    }
    tr {
      vertical-align: top;
      td:nth-of-type(4) {
        font-weight: 700;
      }
      td:nth-of-type(5) {
        font-weight: normal;
      }
    }
    .list {
      font-size: 12px;
      white-space: nowrap;
    }
    .qbtn-container {
      .qbtn {
        width: 90px;
        height: 42px;
      }
    }
  }
}
