.uploaded-img-container {
  position: relative;

  img {
    width: 11.5rem;
    height: 11.5rem;
    object-fit: cover;

    border-radius: 1.2rem;

    @include respondMax(575px) {
      width: 8.5rem;
      height: 8.5rem;
    }
  }

  .uploaded-img-remove {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    background-color: rgba($clr-red, 0.7);
    border-radius: 0 0 1.2rem 1.2rem;

    transition: $tr-normal;

    color: $clr-white;
    cursor: pointer;

    &:hover {
      background-color: $clr-red;
    }

    @include respondMax(575px) {
      font-size: 10px;
      line-height: 18px;
    }
  }
}
