.user-avatar {
  width: 20rem;
  height: 20rem;
  position: relative;

  @include flexCenter();

  img {
    max-width: 20rem;
    margin: 0 auto;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .qbtn {
    position: absolute;
    padding: 1rem;
    bottom: 1.6rem;
    right: 1.6rem;
  }
}
