@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin bgCover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin imgCover {
  width: 100%;
  object-fit: cover;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexInCenter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin gridCenter {
  display: grid;
  place-items: center;
}

@mixin maxLines($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin respondBetween($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin respondMin($br) {
  @media only screen and (min-width: $br) {
    @content;
  }
}

@mixin respondMax($br) {
  @media only screen and (max-width: $br) {
    @content;
  }
}
