.navbar-top {
  padding: 8px 0;
  background-image: linear-gradient(90deg, #0db04b 0%, #8bc53f 100%);
  color: $clr-white;
  @include respondMax(767px) {
    display: none;
  } 
  a {
    color: $clr-white;
  }
  &__call {
    font-weight: 400;
    font-size: 1.6rem;

    svg {
      margin-right: 8px;
      fill: $clr-white;
    }

    span {
      font-size: 1.6rem;
      @include respondMax(767px) {
        font-size: 1.2rem;
        font-size: 12px;
      }
    }
  }
  &__menu {
    display: flex;
  }
  &__menu-item {
    &:not(:last-of-type) {
      margin-right: 2.4rem;
      @include respondMax(767px) {
        margin-right: 1rem;
      }
    }
  }
  &__menu-link {
    position: relative;
    font-size: 1.6rem;
    @include respondMax(767px) {
      font-size: 12px;
    }
  }
}

.navbar-main {
  // display: none;
  padding: 8px 0;
  background-color: $clr-white;
  @include respondMax(767px) {
    display: none;
  }
  &__dropdown-menu {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: auto;
    padding: 5px 20px;
    border-radius: 8px;

    background-color: darken($clr-section, 5%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s $bezier-normal;

    li {
      padding: 10px 0;

      a {
        display: inline-block;
        white-space: nowrap;
        color: $clr-overlay;
        font-size: 16px;
        &:hover {
          color: $clr-primary;
        }
      }
    }
  }
  &__btn {
    position: relative;
    margin-right: 1.6rem;
    padding: 10px;
    background-color: #f6faf1;
    border-radius: 12px;
    transition: $tr-normal;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    svg {
      @include respondMax(767px) {
        width: 2rem;
        height: 2rem;
      }
    }

    &:hover {
      background-color: darken(#f6faf1, 5%);
    }
    &--dropdown {
      cursor: pointer;
      position: relative;

      &:hover .navbar-main__dropdown-menu, &:hover ~ .navbar-main__dropdown-menu {
        top: calc(100%);
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  &__cart-count {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 16px;
    aspect-ratio: 1/1;
    @include flexCenter;
    padding: 2px;
    border-radius: 50%;

    background-color: $clr-orange;
    color: $clr-white;
    // font-size: 14px;
    font-size: 12px;
    line-height: 0;
  }
  &__logo {
    margin-left: 4rem;
    @include respondMax(767px){
      margin-left: 0;
    }
    img {
      max-width: 100%;
      @include respondMax(767px) {
        max-width: 90%;
      }
    }
  }
  &__search {
    margin: 0 auto;
    position: relative;
    // border-radius: 12px;

    @include respondMax(767px) {
      margin-left: auto;
      margin-right: 1.6rem;
      background-color: #f6faf1;
    }
    input {
      width: 43rem;
      display: inline-block;
      padding: 1rem 1.8rem 1rem 4.8rem;
      // border: 1px solid transparent;
      border: none;
      border-radius: 12px;
      outline: none;
      opacity: 1;
      @include respondMax(991px) {
        width: 32rem;
      }
      @include respondMax(767px) {
        width: 40px;
        padding: 0;
        padding: 8px;
      }
      &::placeholder {
        @include respondMax(767px) {
          display: none;
          color: transparent;
        }
      }
      &:focus {
        outline: none;
        @include respondMax(767px) {
          width: 30rem;
        }
      }
    }
    svg {
      position: absolute;
      top: 50%;
      left: 18px;
      transform: translateY(-50%);
      cursor: pointer;
      transition: $tr-normal;
      @include respondMax(991px) {
        left: 10px;
      }
      @include respondMax(767px) {
        width: 1.8rem;
        height: 1.8rem;
        left: 12px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      inset: -2px;
      display: inline-block;
      // width: calc(100% + 4px);
      // height: calc(100% + 4px);
      // transform: translate(-2px, -2px);
      border-radius: 14px;
      background-image: linear-gradient(
        89.96deg,
        #0db04b 0.03%,
        #8bc53f 99.97%
      );
      z-index: -1;
      // margin: -3px -3.5px;
      // margin: -2px;
    }
  }
}

.navbar-mobile {
  position: relative;
  padding: 1rem 0;
  z-index: 99;
  // box-shadow: $primary-shadow;
  @include respondMin(768px) {
    display: none;
  }
}

//mobile bottom header
.header-bottom {
  // border: 1px solid red;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  background-color: $clr-white;

  z-index: 1020;

  @include respondMin(768px) {
    display: none;
  }
  &__menu {
    @include flexCenter();
    justify-content: space-around;
    margin: 0 auto;
  }
  &__item {
    // margin: 1rem 1.5rem;
    &.active {
      & .header-bottom__link {
        color: $clr-tartiary;
      }
      & .header-bottom__link svg {
        fill: $clr-tartiary;
      }
    }
  }
  &__link {
    font-size: 10px;
    color: #8e8e93;
    svg {
      fill: #8e8e93;
      margin-bottom: 4px;
    } 

  }
  &__cart{
    position: relative;
  }
  &__cart-count{
    position: absolute;
    right: -5px;
    top: -5px;
    width: 16px;
    aspect-ratio: 1/1;
    @include flexCenter;
    padding: 2px;
    border-radius: 50%;

    background-color: $clr-orange;
    color: $clr-white;
    font-size: 10px;
    line-height: 0;
  }
}
